
*, html, body {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  box-sizing: border-box;

  background-color: #f1f1f1;

  /* background: url('/images/body_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
}

body{
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;  
  min-height: 100%;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

img {
  height: 40px;
  width: 40px;
  display: inline;
}

button {
  background-color: #427898;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 15px;
  padding: 0.5em 1.5rem;
  color: #ffffff;
  /* margin-left: 1rem; */
}

button:hover{
  cursor: pointer;  
}

/* @media (min-width: 640px) {

}
@media (min-width: 768px) {

  
}
@media (min-width: 1024px) {

} */

.footer-1 {
  background-color: #1B2538;
  color: #ffffff;
  text-align: center;
  /* position:absolute; */
  /* bottom:0; */
  width:100%;
  padding: 0.5rem 0;

  /* margin-top: auto; */
}

a, a:link, a:hover, a:active, a:visited{
  list-style-type: none;
  min-width: 576px;
  color: #ffffff; 
  text-decoration: none;
  color: #ffffff; 
}

.navs{
  background-color: #427898;
}

.navs h1{
  color: white;
}

.nav-list-top{
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-item{
  list-style: none;
  margin: 0 1em;
  text-align: center;
}

.nav-icon{
  margin: 0;
  font-size: 1.5rem;
  justify-content: center;
}

.nav-icon a{
  margin: 0;
  color: #B5D2DD;
}

.nav-search{
  all: unset;
  list-style: none;
  margin-left: auto;
  border-radius: 5rem;
  padding: 3px 6px;
  background: #f1f1f1;
  text-align: left;
  padding-left: 0.7rem;
}

.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  background-color: #f1f1f1;
  border-radius: 5rem;
  overflow: hidden;
}

.searchIcon {
  padding: 0.5rem;
}

.li-search{
  margin-left: auto;
  flex: inline;
}

.li-last{
  margin-left: auto;
  flex: inline;
  justify-content: center;
}

.li-last a{
  margin-right: 1rem;
}
.li-1{
  margin-right: 0;
}

.li-2{
  margin-left: 0;
}

div:last-of-type{
  margin-top: auto;
}

.vertical-line{
  border-right: 2px solid white;
  height: 2rem;
  padding-right: 1rem;
}

.body-1{
  margin: 6rem 5rem 1rem 5rem;
}

.body-1 h1{
  font-size: 5em;
  line-height: 5rem;
  margin-bottom: 1rem;
}

.body-1 h3{
  font-size: 3em;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.body-btn{
  margin: 0 5rem;
  margin-bottom: 10rem;
}

.body-btn button{
  font-size: 2em;
  margin: 0 3rem 2rem 0;
  width: 20rem;
  border-radius: 0;
  border-color: none;
}

.button-1{
  box-sizing: border-box;
  /* border-style: solid; */
  background-color: rgba(255, 255, 255, 0.623);
  /* border-width: 3px 3px 3px 3px; */
  /* border-color: none; */
  color: #427898;
}

.button-1 a{
  text-decoration: none;
  color: #427898;
}