
*, html, body {

  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  background-color: antiquewhite;
  margin: 0;
  display: flex;
  flex-direction: column;  
  min-height: 100%;
  /* padding-bottom: 1rem; */
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

img {
  height: 40px;
  width: 40px;
  display: inline;
}

button {
  background-color: #427898;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 15px;
  padding: 0.5em 1.5rem;
  color: #ffffff;
  /* margin-left: 1rem; */
}

button:hover{
  cursor: pointer;  
}

/* @media (min-width: 640px) {

}
@media (min-width: 768px) {

  
}
@media (min-width: 1024px) {

} */

.footer-1 {
  background-color: #1B2538;
  color: #ffffff;
  text-align: center;
  /* position:absolute; */
  /* bottom:0; */
  width:100%;
  padding: 0.5rem 0;

  /* margin-top: auto; */
}

a, a:link, a:hover, a:active, a:visited{
  list-style-type: none;
  min-width: 576px;
  color: #ffffff; 
  text-decoration: none;
  color: #ffffff; 
}

.navs{
  background-color: #427898;
}

.navs h1{
  color: white;
}

.nav-leftdiv {
  display: flex;
  justify-content: center;
}

.nav-list-top{
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-item{
  list-style: none;
  margin: 0 1em;
  text-align: center;
}

.li-last{
  margin-left: auto;
  flex: inline; 
  justify-content: space-around;
}

.li-last a{
  margin-right: 1rem;
}
.li-1{
  margin-right: 0;
}

.li-2{
  margin-left: 0;
}


/* .p1{
  padding-left: 1rem;
} */
/* .nav-item > a{
margin: 0 0.5rem;
} */

/* .nav-item:nth-child(3){
  margin-left: auto;
  flex: inline;
}

.nav-item:nth-child(4){
  margin-left: auto;
  flex: inline;
} */

div:last-of-type{
  margin-top: auto;
}

.vertical-line{
  border-right: 2px solid white;
  height: 2rem;
  padding-right: 1rem;
}